$card-color:rgba(200,200,200,1);
$border-color:grey;
$light-color:rgba(100,100,100,0.7);
$card-width:375px;
$card-height:250px;
$rotate-time:5s;
$card-radius:15px;
$default-time:0.5s;

*{
    margin:0;
    padding:0;   
    box-sizing:border-box;
}
body{
    font-family:"Roboto",sans-serif;
    line-height:1.2;
    background-image: linear-gradient(to right,rgba(100,100,100,0.1),white,rgba(100,100,100,0.1));
}

.mastercard_company{
    background:url('../img/mastercard.png') no-repeat center center/cover;
    width:75px;
    height:46px;            
}

.visa_company{
    background:url('../img/visa.png') no-repeat center center/cover;
    width:60px;
    height:38px;  
    border-radius: 4px;          
}

.american_company{
    background:url('../img/american.png') no-repeat center center/cover;
    width:80px;
    height:40px;  
}
