@import 'variable';

#card{
    position:relative;
    z-index:3;
    .card_front{
        color:$card-color;
        position:relative;
        .front_img{
            position:relative;
            background: url('../img/50.jpg') no-repeat center center/cover;
            box-shadow:6px 6px 14px 0 rgba(0,0,0,0.5),-8px -8px 18px 0 rgba(255,255,255,0.5);
            max-width:320px;
            width:100%;
            height:200px;
            margin:1rem auto;
            border-radius:$card-radius;
            transition:transform $rotate-time;
            .front_chip{
                position:absolute;
                background: url('../img/smart_chip.png') no-repeat center center/cover;
                width:40px;
                height:30px;
                top:30px;
                left:15px;
            }
            .front_number{
                position: absolute;
                top:80px;
                padding:0.5rem 0;
                border-radius: 10px;
                border:2px solid transparent;
                font-size:1rem;
                width:100%;
                transition:all $default-time;
                &:hover{
                    border:2px solid $border-color;
                }
                .card_no-1,.card_no-2,.card_no-3,.card_no-4,.card_no-5,.card_no-6,.card_no-7,.card_no-8,.card_no-9,.card_no-10,.card_no-11,.card_no-12,.card_no-13,.card_no-14,.card_no-15,.card_no-16{
                    position:absolute;
                    transition:all $default-time;
                }
                .card_no-1{
                    left:0.5rem;
                }
                .card_no-2{
                    left:1.5rem;
                }
                .card_no-3{
                    left:2.5rem;
                }
                .card_no-4{
                    left:3.5rem;
                }
                .card_no-5{
                    left:5.5rem;
                }
                .card_no-6{
                    left:6.5rem;
                }
                .card_no-7{
                    left:7.5rem;
                }
                .card_no-8{
                    left:8.5rem;
                }
                .card_no-9{
                    left:10.5rem;
                }
                .card_no-10{
                    left:11.5rem;
                }
                .card_no-11{
                    left:12.5rem;
                }
                .card_no-12{
                    left:13.5rem;
                }
                .card_no-13{
                    left:15.5rem;
                }
                .card_no-14{
                    left:16.5rem;
                }
                .card_no-15{
                    left:17.5rem;
                }
                .card_no-16{
                    left:18.5rem;
                }
            }
            .front_holder{
                transition:all $default-time;
                position: absolute;
                bottom:15px;
                left:10px;
                padding:0.5rem 0.2rem;
                border-radius:10px;
                width:180px;
                height:65px;
                border:2px solid transparent;
                
                .holder_text{
                    letter-spacing: 1px;
                    padding-bottom:0.5rem;
                    font-size:0.8rem;
                }
                .holder_name{
                    text-transform: uppercase;
                    letter-spacing:1px;
                    word-spacing:2px;
                    overflow: hidden;
                }
                &:hover{
                    border:2px solid $border-color;
                }

            }
            .front_valid{
                transition:all $default-time;
                position:absolute;
                right:10px;
                bottom:15px;
                padding:0.5rem;
                border-radius:10px;
                border:2px solid transparent;
                width:110px;
                height:65px;
                .valid_text{
                    padding-bottom:0.5rem;
                    letter-spacing:1px;
                    font-size:0.8rem;
                }
                .valid_to{
                    overflow:hidden;
                }
                &:hover{
                    border:2px solid $border-color;
                }
            }
            .front_company{
                position: absolute;
                top:10px; 
                right:10px;
                border:2px solid transparent;
                border-radius:15px;
                padding:0.5rem;
                &:hover{
                    border:2px solid $border-color;
                }
            }
            
        }
    }
    
}

#form_wrap{
    position:relative;
    max-width:480px;
    width:99%;
    margin:0 auto;
    top:-115px;
    border:2px solid  $border-color;
    border-radius:15px;
    padding-top:175px;
    height:585px;
    .form{
        display:block;
        padding:0.5rem;
    }
    #card_number,.card_no,#card_holder,.card_hold,#expire,.exp,#card_cv,.card_cvv{
        margin:0.7rem;
        letter-spacing:1px;
        word-spacing: 3px;
        max-width:320px;
        width:90%;
        font-size:1.2rem;
    }
    #card_number,#card_holder,#card_cv{
        border:1px solid $light-color;
        border-radius:15px;
        &:focus{
            border:1px solid lightcyan;
            outline:none;
            box-shadow:6px 6px 4px rgba(30,30,30,0.7),-6px-6px 4px whitesmoke;
        }
    }
    #expire{
        select{
            padding:0.5rem;
            font-size:1.2rem;
            border:1px solid $light-color;
            border-radius:15px;
            &:focus{
                border:1px solid lightcyan;
                box-shadow:6px 6px 4px rgba(30,30,30,0.7),-6px-6px 4px whitesmoke;
                outline:none;
            }
            option:not(:disabled){
                color:$card-color;
                background-color: teal;
            }
            option:focus,option:checked{
                border:none;
            }
        }
    }
    .btn{
        display:block;
        margin:1rem;
        text-decoration:none;
        font-size:1.2rem;
        padding:1rem 2rem;
        letter-spacing: 1px;
        border-radius:15px;
        outline:none;
        color:lightgray;
        text-transform: uppercase;
        background-color:darkcyan;
        opacity:0.8;
        width:140px;
        box-shadow:6px 6px 14px 0 rgba(0,0,0,0.5),-8px -8px 18px 0 rgba(255,255,255,0.85);
        transition:all $default-time;
        &:hover{
            color:white;
            opacity:1;
        } 
        &:active{
            box-shadow:inset 6px 6px 14px 0 rgba(0,0,0,0.5),inset -8px -8px 18px 0 rgba(255,255,255,0.5);
        }
    }
}

.rear_img{
    position: relative;
    .img{
        position: relative;
        top:-801px;
        margin:0 auto;
        background: url('../img/50.jpg') no-repeat center center/cover;
        box-shadow:6px 6px 14px 0 rgba(0,0,0,0.5),-8px -8px 18px 0 rgba(255,255,255,0.5);
        max-width:320px;
        width:100%;
        height:200px;
        border-radius: 15px;
        transition:transform $rotate-time;
        transform: rotateY(90deg);
        .mag_strip{
            position: absolute;
            top:30px;
            left:0;
            width:100%;
            height:40px;
            background-image:linear-gradient(to right,black,rgb(59,59,59),black);
        }
        .cv_link{
            position: absolute;
            top:70px;
            left:20px;
            border:2px solid transparent;
            text-align: right;
            .cv_text{
                font-size:1.2rem;
                margin:0.5rem;
                color:white;
            }
            .cv_hide{
                background-color: white;
                width:180px;
                color:black;
                padding:0.5rem;
                height:30px;
                margin:0.5rem;
            }
            &:hover{
                border:2px solid $border-color;
                border-radius: 15px;
            }
        }
    }
}